body {
    font-family: Tahoma, serif;
    background-image: url("/photos/background-image_4.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 5px solid crimson;
    color: white;
}
form {
    margin: 0 auto;
    width: 450px;
    height: 570px;
    padding: 50px;
    box-shadow: 2px 2px 5px black;
}
.filds {
    margin: 2px;
    padding: 5px;
}
label {
    padding-left: 10px;
    text-transform: uppercase;
    color: white;
}
input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
}
input:focus {
    border: 2px solid white;
    transform: translateX(15px);
    width: 385px;
}
button {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: white;
    background: crimson;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px black;
}
button:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}
